package ${package}.dao.${module};

import ${package}.entity.${module}.${className}Entity;
import com.lubang.generator.dao.BaseDao;

/**
 * ${comments}Dao
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Dao extends BaseDao<${className}Entity> {

}
